article {
  pre, p, ol, ul {
  margin: 1.25rem 0;
}

  ol, ul {
    padding-left: 1.25rem;
  }

  h1, h2 {
    margin-top: 5rem;
  }

  h3, h4, h5, h6 {
    color: var(--title);
    margin-top: 2.5rem;
  }
}

.article-title {
  margin-bottom: 1rem;
}

.article-header {
  margin-bottom: 5rem;
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--body);
	background: none;
	font-family: Consolas, monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	overflow: auto;

  color: var(--title);

  border-top: 2px solid var(--highlight);
  border-bottom: 1px solid var(--highlight-alt);

  padding: 1rem 1.125rem;
  border-radius: 1.25rem 1.375rem 1.25rem 1.375rem;

  & > code {
    border: none;
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--focus);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;

  border-top: 1px solid var(--highlight);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7f838b;
}

.token.punctuation,
.token.constant {
	color: var(--body);
}

.token.tag,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

 /* {
	color: #f08d49;
} */

.token.property,
.token.class-name,
.token.symbol,
.token.attr-name,
.token.boolean,
.token.number {
	color: #f48c77;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #c178d0;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url,
.token.function {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

blockquote {
  background: var(--focus);
  border-left: 3px solid var(--body);
  padding: 0.25rem;
  padding-left: 1rem;

  margin: 1.25rem 0;

  border-radius: 0 0.25rem 0.25rem 0;

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }
}

.home-link {
  display: inline-flex;
  color: var(--accent);
  text-decoration: none;
  font-weight: 900;
  border-radius: 0.25rem;
  align-items: center;

  
  &:focus-visible {
    outline-offset: 2px;
  }

  svg {
    margin-right: .125rem;
    height: 19px;
    vertical-align: middle;
    transform: scaleX(-1);

  }
}