@font-face {
  font-family: 'Host Grotesk';
  src: url("/fonts/HostGrotesk.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-bg: #121220;
  --dark-title: #F8F8F8;
  --dark-body: #B8C0DE;
  --dark-accent: #ff876f;
  --dark-highlight: rgba(242, 242, 255, 0.125);
  --dark-hightlight-alt: rgba(242, 242, 255, 0.1);

  --light-bg: #FFFBF4;
  --light-title: #121220;
  --light-body: #323242;
  --light-accent: #ff876f;
  --light-highlight: rgba(242, 242, 255, 0.8);
  --light-hightlight-alt: rgba(242, 242, 255, 0.3);

  --background: var(--dark-bg);
  --title: var(--dark-title);
  --body: var(--dark-body);
  --accent: var(--dark-accent);
  --highlight: var(--dark-highlight);
  --highlight-alt: var(--dark-hightlight-alt);
}

.light {
  --background: var(--light-bg);
  --title: var(--light-title);
  --body: var(--light-body);
  --accent: var(--light-accent);
  --highlight: var(--light-highlight);
  --highlight-alt: var(--light-hightlight-alt);
}

html, body {
  min-height: 100dvh;
  
  background: var(--background);
  color: var(--body);

  font-family: 'Host Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 300;

  scroll-behavior: smooth;
}

body {
  padding: 35dvh 26rem 10rem;
  will-change: scroll-position;
}

/*    DECORATIONS    */

#background {
  pointer-events: none;
  position: fixed;
  top: 45%;
  left: 55%;

  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  
  aspect-ratio: 1; 
  height: 86dvw;
  width: auto; 
  
  border-radius: 38rem; 
  
  background: 
    radial-gradient(114.51% 122.83% at 0% -15.36%, #f76f53 0%, rgba(231, 79, 106, 0.22) 66.72%, rgba(231, 79, 106, 0) 100%), 
    linear-gradient(333.95deg, rgba(83, 208, 236, 0.85) -7.76%, rgba(83, 208, 236, 0.204) 19.67%, rgba(138, 137, 190, 0) 35.42%), 
    radial-gradient(109.15% 148.57% at 4.46% 98.44%, #1B3180 0%, rgba(27, 49, 128, 0) 100%), 
    linear-gradient(141.57deg, #4EADEB 19.08%, rgba(78, 173, 235, 0) 98.72%); 
  
  filter: blur(52px);

  opacity: 0.4;
  
  animation: rotate 120s linear infinite;
}

#noise {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    width: 300vw;
    height: 300vmax;
    
    background-image: url('/img/noise.webp');
    filter: saturate(0);
    opacity: 0.06;
    
    animation: grain 10s steps(10) infinite;
  }
}

/*    CONTENT    */

h1, h2 {
  font-weight: 800;
  color: var(--title);
}

section {
  scroll-margin-top: 2rem;
  margin-bottom: 6rem;

  animation: fade-in 0.25s ease-out both;

  &:nth-child(2) { animation-delay: 0.2s; }
  &:nth-child(3) { animation-delay: 0.4s; }
  &:nth-child(4) { animation-delay: 0.6s; }
  &:nth-child(5) { animation-delay: 0.8s; }

  &:first-of-type {
    margin-bottom: 16rem;
  }
}

h1 {
  font-size: 44px;
  & span {
    text-wrap: nowrap;
  }
}

h2 {
  font-size: 36px;
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 0.5em;
}

:is(p, span, footer) {
  a {
    display: inline-flex;
    color: var(--accent);
    text-decoration: none;
    font-weight: 900;
    border-radius: 0.25rem;
    align-items: center;
  
    
    &:focus-visible {
      outline-offset: 2px;
    }
  }

  svg {
    margin-left: .125rem;
    height: 19px;
    vertical-align: middle;
  }
}

a:focus-visible {
  outline: 2px solid var(--body);
  outline-offset: -1px;
}

p {
  margin: 2rem 0;
}

strong {
  font-weight: 900;
}

svg {
  display: inline-block;
  fill: currentColor;
  aspect-ratio: 1;
  width: auto;

  vertical-align: middle;
}

td {
  vertical-align: top;
  padding-bottom: 2.5rem;
}

code {
  display: inline-block;
  background : var(--highlight-alt);
  padding: 0.125rem .25rem;
  border-radius: 0.25rem; 

  border-top: 1px solid var(--highlight);
}

.experience-date {
  padding: 6px 1rem 0 0;
  font-size: 14px;
  text-wrap: nowrap;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pill {
  padding: 0.4rem 0.8rem;
  background: var(--accent);
  color: var(--light-body);
  border-radius: 1rem;
  font-size: 14px;
}

/*    PROJECTS / ARTICLES    */

.project, .article {
  cursor: pointer;

  text-decoration: none;
  color: inherit;

  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;

  padding: 1rem 1.125rem;
  border-radius: 1.25rem 1.375rem 1.25rem 1.375rem;

  background: #EBF8FF00;

  transition: 0.12s ease-out;
  transition-property: background, color;

  border-bottom: 1px solid transparent;
  border-top: 2px solid transparent;

  &:is(:hover, :focus-visible) {
    background: #EBF8FF0B;
    color: var(--title);

    border-top: 2px solid var(--highlight);
    border-bottom: 1px solid var(--highlight-alt);
  }

  .light &:is(:hover, :focus-visible) {
    background: #FFFFF82D;
  }

  h3 {
    svg {
      flex-shrink: 0;
      height: 20px;
      margin: -2px .25rem 0;
      transition: transform 0.12s ease-out;
    }
  }

  &:is(:focus-visible, :hover) svg {
    transform: translateX(.25rem);
  }
}

.project:is(:focus-visible, :hover) svg {
  transform: translate(2px, -2px);
}

.thumbnail {
  flex-shrink: 0;

  height: 100px;
  width: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  border-radius: 0.25rem;

  box-shadow: 0px 16px 16px -8px rgba(0, 0, 0, 0.2);

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .placeholder {
    width: 100%;
    height: 100%;
    background: var(--highlight);
  }
}

.separator {
  background: center / contain repeat-x url('/img/squiggle_dark.svg');
  height: 16px;
  width: 100%;
  margin: 8rem 0 2rem;

  .light & {
    background: center / contain repeat-x url('/img/squiggle_light.svg');
  }
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer-left {
  font-weight: bold;
}

.footer-right {
  display: flex;
  gap: 2rem;

  .section-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.colophon, .contact {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.no-icon {
  margin-left: calc(19px + .5rem);
}

.small-separator {
  height: 1px;
  width: 24px;
  background: var(--body);
  margin: 0.75rem 0;
}

/*    MEDIA QUERIES    */

@media (max-width: 1560px) {
  body {
    padding: 16rem 16rem 10rem;
  }
}

@media (max-width: 1220px) {
  body {
    padding: 12rem 8rem 6rem;
  }

  #background {
    top: 0;
    left: 50%;

    height: 140dvw;
  }

  .experience-date {
    text-wrap: wrap;
  }
}

@media (max-width: 768px) {
  body {
    padding: 10rem 2rem 6rem;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  footer {
    flex-direction: column;
    gap: 2rem;
  }
  
  .footer-right {
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .project, .article {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10rem 1.5rem 4rem;
  }
  
  .experience-date {
    padding-right: 0;
    padding-bottom: 0.5rem;
  }
  
  table tr {
    display: block;
    margin-bottom: 2rem;
  }
  
  table td {
    display: block;
    padding-bottom: 0.5rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  #noise:after {
    opacity: 0.03;
  }
  
  section, #background, #noise:after {
    animation: none;
  }
}

/*    ANIMATIONS    */

@keyframes rotate {
	from {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	to {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    translate: 0 1rem;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}